#btn_pregnancy, #btn_mychildren, #btn_mysexlife, #btn_mymouth, #btn_myeyes {
	padding-left: 66px !important;
}

#btn_pregnancy h1, #btn_mychildren h1, #btn_mysexlife h1, #btn_mymouth h1, #btn_myeyes h1 {
	font-size: 1em;
	white-space: normal;
}

#btn_pregnancy > div, #btn_mychildren > div, #btn_mysexlife > div, #btn_mymouth > div, #btn_myeyes > div {
	width: 35px !important;
	height: 35px;
	background: url("../img/check.png") no-repeat center center;
	background-size: 35px;
	position: absolute;
	top: 16px;
	right: 8px;
	display: block;
}

#btn_pregnancy > img, #btn_mychildren > img, #btn_mysexlife > img, #btn_mymouth > img, #btn_myeyes > img {
	display: block;
	width: 50px;
	padding-left: 5px;
	padding-top: 20px;
}